/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

%move{
	&:hover{
		z-index:4;
		transform:translate(0.5vh,-0.5vh);
		-ms-transform:translate(0.5vh,-0.5vh);
		-webkit-transform:translate(0.5vh,-0.5vh);
		-o-transform:translate(0.5vh,-0.5vh);
	}
}
%span{
	&:hover{
				.description{
					left:12vh;
					top:-20vh;
					background-color: #ffffff;
					@include border-radius(30px);
					@include box-shadow(#949194 2px 2px 10px);
					@include background-size(auto);
					background-size: 100% 100%;
					z-index:50;
					opacity:0.8;
					text-align:center;
					a{
						margin: 0 auto;
					}
					img{
						visibility: visible !important;
						height: 100%;
						width: auto;
						padding: 5%;
						height: 20vh;
						width:auto;
						clear:both;
						magin:0 auto;
					}
					h3{
						padding:5%;
						font-size: 1.5em;
						clear:left;
					}
					p{
						font-size:1em;
						padding: 0 5% 5% 5%;

					}
				}
	}
	span{
		img{
			width: 100%;
			height: auto;
			visibility:hidden !important;
			&:hover{
				/*background-color:#6CF8B0;*/
				@include border-radius(5px);
			}
		}		
	}
	.description{
		position:absolute;
		left: -9999px;
		background-color: #ffffff;	
		z-index:50;
	}
}


body{
	font-family:sans-serif;
}

#ground{
	background-image: url('../images/ground.png');
	background-repeat: no-repeat;
	@include background-size(contain);
	height: 2000px;
	width: auto;
	margin:5em;

}

.attractionsWrapper{
	position: relative;
	width: 100%;
	padding-bottom:73%;
	vertical-align:middle;
	clear:none;

}

.salidasWrapper{
	position:absolute;
	top: 27%;
	left: 17%;
	width: 67%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
		}
	}
}

.terrazaMiradoresWrapper{
	position:absolute;
	top:31.5%;
	left: 45.75%;
	width:8.75%;	
	@extend %span;
	@extend %move;
	background: url('../images/terrazaMiradoresSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.circuitoQuadsWrapper{
	position:absolute;
	top:36%;
	left: 34.75%;
	width:8.75%;	
	@extend %span;
	@extend %move;
	background: url('../images/circuitoQuadsSprite.png') no-repeat;
	background-size:100%;
	&:hover{
		background-position: 0 105%;
	}
}

.circuitoVipersWrapper{
	position:absolute;
	top: 36%;
	left: 42.75%;
	width: 7%;
	@extend %span;
	@extend %move;
	background: url('../images/circuitoVipersSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.circuitoMotoTrialInfantilWrapper{
	position:absolute;
	top: 36%;
	left: 49.8%;
	width: 7%;
	@extend %span;
	@extend %move;
	background: url('../images/circuitoMotoTrialInfantilSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 106%;
	}
}

.simuladoresCarrerasWrapper{
	position:absolute;
	top: 35.75%;
	left: 54.8%;
	width: 6%;
	@extend %span;
	@extend %move;
	background: url('../images/simuladoresCarrerasSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.slotNincoWrapper{
	position:absolute;
	top: 36.5%;
	left: 59.8%;
	width: 5%;
	@extend %span;
	@extend %move;
	background: url('../images/slotNincoSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 107%;
	}
}

.taquillaWrapper{
	position:absolute;
	top: 26.5%;
	left: 63%;
	width: 8%;
	@extend %span;
	@extend %move;
	background: url('../images/taquillaSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 100%;
	}
}

.tiendaWrapper{
	position:absolute;
	top: 36.5%;
	left: 64%;
	width: 7%;
	@extend %span;
	@extend %move;
	background: url('../images/tiendaSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 104%;
	}
}

.terrazaMotorWrapper{
	position:absolute;
	top: 40.5%;
	left: 22.5%;
	width: 7%;
	@extend %span;
	@extend %move;
	background: url('../images/terrazaMotorSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.carpaClimatizadaWrapper{
	position:absolute;
	top: 40.5%;
	left: 30%;
	width: 6%;
	@extend %span;
	@extend %move;
	background: url('../images/carpaClimatizadaSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.pantallaGiganteWrapper{
	position:absolute;
	top: 48%;
	left: 26%;
	width: 6%;
	@extend %span;
	@extend %move;
	background: url('../images/pantallaGiganteSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 110%;
	}
}

.circuitoKartsWrapper{
	position:absolute;
	top: 42%;
	left: 37%;
	width: 30%;
	@extend %span;
	@extend %move;
	background: url('../images/circuitoKartsSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.terrazaKidsWrapper{
	position:absolute;
	top: 47.5%;
	left: 72.2%;
	width: 14%;
	@extend %span;
	@extend %move;
	background: url('../images/terrazaKidsSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.WCWrapper{
	position:absolute;
	top: 42.5%;
	left: 66.5%;
	width: 7.5%;
	@extend %span;
	@extend %move;
	background: url('../images/WCSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.rockodromoWrapper{
	position:absolute;
	top: 44.5%;
	left: 21.5%;
	width: 7.5%;
	@extend %span;
	@extend %move;
	background: url('../images/rockodromoSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.barWrapper{
	position:absolute;
	top: 49%;
	left: 16.25%;
	width: 16%;
	@extend %span;
	@extend %move;
	background: url('../images/barSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 110%;
	}
}

.camasElasticasWrapper{
	position:absolute;
	top: 52.25%;
	left: 34.25%;
	width: 12%;
	@extend %span;
	@extend %move;
	background: url('../images/camasElasticasSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.hinchablesWrapper{
	position:absolute;
	top: 47.5%;
	left: 46%;
	width: 25%;
	@extend %span;
	@extend %move;
	background: url('../images/hinchablesSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 102%;
	}
}

.castilloInfantilWrapper{
	position:absolute;
	top: 46.5%;
	left: 61%;
	width: 8%;
	@extend %span;
	@extend %move;
	z-index:2;
	background: url('../images/castilloInfantilSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 115%;
	}
}

.canetaBlancaSoloWrapper{
	position:absolute;
	top: 50.5%;
	left: 70%;
	width: 5.25%;
	img{
		width: 100%;
		height: auto;
	}
}

.tentWrapper{
	position:absolute;
	top: 57%;
	left: 21.5%;
	width: 7%;
	@extend %span;
	@extend %move;
	background: url('../images/tentSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 114%;
	}
}

.pistaFutbolWrapper{
	position:absolute;
	top: 56.5%;
	left: 26.75%;
	width: 17.5%;
	@extend %span;
	@extend %move;
	background: url('../images/pistaFutbolSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.pistaVoleyPlayaWrapper{
	position:absolute;
	top: 56.5%;
	left: 45.5%;
	width: 16%;
	@extend %span;
	@extend %move;
	background: url('../images/pistaVoleyPlayaSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.billardsWrapper{
	position:absolute;
	top: 56%;
	left: 71%;
	width: 6%;
	@extend %span;
	@extend %move;
	background: url('../images/billardsSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 100%;
	}
}

.skateparkWrapper{
	position:absolute;
	top: 65%;
	left: 13%;
	width: 25%;
	@extend %span;
	@extend %move;
	background: url('../images/skateparkSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 100%;
	}
}

.pumpTrackWrapper{
	position:absolute;
	top: 67%;
	left: 38.5%;
	width: 16%;
	z-index:3;
	@extend %span;
	@extend %move;
	background: url('../images/pumpTrackSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.iniciacionSkateWrapper{
	position:absolute;
	top: 72%;
	left: 37%;
	width: 16%;
	@extend %span;
	@extend %move;
	background: url('../images/iniciacionSkateSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.camasElasticas2Wrapper{
	position:absolute;
	top: 76%;
	left: 34%;
	width: 7%;
	@extend %span;
	@extend %move;
	background: url('../images/camasElasticas2Sprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

/*-----FIX THIS ----*/

.camasElasticas img:hover + .camasElasticas2 img:hover{
			background-color:red;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
}


.minirampWrapper{
	position:absolute;
	top: 75%;
	left: 42%;
	width: 17%;
	z-index:2;
	@extend %span;
	@extend %move;
	background: url('../images/minirampSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 111%;
	}
}

.raceBMXWrapper{
	position:absolute;
	top: 67%;
	left: 53.5%;
	width: 26%;
	z-index:1;
	@extend %span;
	@extend %move;
	background: url('../images/raceBMXSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.bigAirFoamPitWrapper{
	position:absolute;
	top: 60%;
	left: 68%;
	width: 19%;
	z-index:2;
	@extend %span;
	@extend %move;
	background: url('../images/bigAirFoamPitSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

.terrazaFreestyleWrapper{
	position:absolute;
	top: 80.5%;
	left: 33%;
	width: 19%;
	@extend %span;
	@extend %move;
	background: url('../images/terrazaFreestyleSprite.png') no-repeat;
	background-size: 100%;
	&:hover{
		background-position: 0 105%;
	}
}

