/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";


#ground{
	background-image: url('../images/ground.png');
	background-repeat: no-repeat;
	@include background-size(contain);
	height: 2000px;
	width: auto;
	margin: 10em;

}

.attractionsWrapper{
	position: relative;
	width: 100%;
	padding-bottom:73%;
	vertical-align:middle;
	clear:none;

}

.terrazaMiradoresWrapper{
	position:absolute;
	top:31%;
	left: 45.75%;
	width:8.75%;	
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.circuitoQuadsWrapper{
	position:absolute;
	top:36%;
	left: 34.75%;
	width:8.75%;	
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.circuitoVipersWrapper{
	position:absolute;
	top: 36%;
	left: 42.75%;
	width: 7%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.circuitoMotoTrialInfantilWrapper{
	position:absolute;
	top: 36%;
	left: 49.8%;
	width: 7%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.simuladoresCarrerasWrapper{
	position:absolute;
	top: 35.75%;
	left: 54.8%;
	width: 6%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.slotNincoWrapper{
	position:absolute;
	top: 36.5%;
	left: 59.8%;
	width: 5%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.taquillaWrapper{
	position:absolute;
	top: 26.5%;
	left: 63%;
	width: 8%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.tiendaWrapper{
	position:absolute;
	top: 36.5%;
	left: 64%;
	width: 7%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.terrazaMotorWrapper{
	position:absolute;
	top: 40.5%;
	left: 22.5%;
	width: 7%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.carpaClimatizadaWrapper{
	position:absolute;
	top: 40.5%;
	left: 30.75%;
	width: 6%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.pantallaGiganteWrapper{
	position:absolute;
	top: 48%;
	left: 26%;
	width: 6%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.circuitoKartsWrapper{
	position:absolute;
	top: 42%;
	left: 37%;
	width: 30%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.terrazaKidsWrapper{
	position:absolute;
	top: 47.5%;
	left: 72.2%;
	width: 14%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.WCWrapper{
	position:absolute;
	top: 42.5%;
	left: 66.5%;
	width: 7.5%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.rockodromoWrapper{
	position:absolute;
	top: 44.5%;
	left: 21.5%;
	width: 7.5%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.barWrapper{
	position:absolute;
	top: 49%;
	left: 16.25%;
	width: 16%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.camasElasticasWrapper{
	position:absolute;
	top: 52.25%;
	left: 34.25%;
	width: 12%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.hinchablesWrapper{
	position:absolute;
	top: 46%;
	left: 46%;
	width: 25%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.castilloInfantilWrapper{
	position:absolute;
	top: 45.5%;
	left: 61%;
	width: 8%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.canetaBlancaSoloWrapper{
	position:absolute;
	top: 50.5%;
	left: 70%;
	width: 5.25%;
	img{
		width: 100%;
		height: auto;
	}
}

.tentWrapper{
	position:absolute;
	top: 57%;
	left: 21.5%;
	width: 7%;
	img{
		width: 100%;
		height: auto;
	}
}

.pistaFutbolWrapper{
	position:absolute;
	top: 56.5%;
	left: 26.75%;
	width: 17.5%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.pistaVoleyPlayaWrapper{
	position:absolute;
	top: 56.5%;
	left: 45.5%;
	width: 16%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.billardsWrapper{
	position:absolute;
	top: 56%;
	left: 71%;
	width: 6%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.skateparkWrapper{
	position:absolute;
	top: 65%;
	left: 13%;
	width: 25%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.pumpTrackWrapper{
	position:absolute;
	top: 67%;
	left: 39%;
	width: 16%;
	z-index:2;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.iniciacionSkateWrapper{
	position:absolute;
	top: 72%;
	left: 37%;
	width: 16%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.camasElasticas2Wrapper{
	position:absolute;
	top: 76%;
	left: 34%;
	width: 7%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

/*-----FIX THIS ----*/

.camasElasticas:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
}


.minirampWrapper{
	position:absolute;
	top: 77%;
	left: 42%;
	width: 14%;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.raceBMXWrapper{
	position:absolute;
	top: 67%;
	left: 53.5%;
	width: 26%;
	z-index:1;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}

.bigAirFoamPitWrapper{
	position:absolute;
	top: 60%;
	left: 68%;
	width: 19%;
	z-index:2;
	img{
		width: 100%;
		height: auto;
		&:hover{
			background-color:#6CF8B0;
			transform:translate(0.5vh,-0.5vh);
			-ms-transform:translate(0.5vh,-0.5vh);
			-webkit-transform:translate(0.5vh,-0.5vh);
			@include border-radius(5px);
		}
	}
}


