/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
#ground {
  background-image: url("../images/ground.png");
  background-repeat: no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  height: 2000px;
  width: auto;
  margin: 10em;
}

/* line 21, ../sass/screen.scss */
.attractionsWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 73%;
  vertical-align: middle;
  clear: none;
}

/* line 30, ../sass/screen.scss */
.terrazaMiradoresWrapper {
  position: absolute;
  top: 31%;
  left: 45.75%;
  width: 8.75%;
}
/* line 35, ../sass/screen.scss */
.terrazaMiradoresWrapper img {
  width: 100%;
  height: auto;
}
/* line 38, ../sass/screen.scss */
.terrazaMiradoresWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 48, ../sass/screen.scss */
.circuitoQuadsWrapper {
  position: absolute;
  top: 36%;
  left: 34.75%;
  width: 8.75%;
}
/* line 53, ../sass/screen.scss */
.circuitoQuadsWrapper img {
  width: 100%;
  height: auto;
}
/* line 56, ../sass/screen.scss */
.circuitoQuadsWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 66, ../sass/screen.scss */
.circuitoVipersWrapper {
  position: absolute;
  top: 36%;
  left: 42.75%;
  width: 7%;
}
/* line 71, ../sass/screen.scss */
.circuitoVipersWrapper img {
  width: 100%;
  height: auto;
}
/* line 74, ../sass/screen.scss */
.circuitoVipersWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 84, ../sass/screen.scss */
.circuitoMotoTrialInfantilWrapper {
  position: absolute;
  top: 36%;
  left: 49.8%;
  width: 7%;
}
/* line 89, ../sass/screen.scss */
.circuitoMotoTrialInfantilWrapper img {
  width: 100%;
  height: auto;
}
/* line 92, ../sass/screen.scss */
.circuitoMotoTrialInfantilWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 102, ../sass/screen.scss */
.simuladoresCarrerasWrapper {
  position: absolute;
  top: 35.75%;
  left: 54.8%;
  width: 6%;
}
/* line 107, ../sass/screen.scss */
.simuladoresCarrerasWrapper img {
  width: 100%;
  height: auto;
}
/* line 110, ../sass/screen.scss */
.simuladoresCarrerasWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 120, ../sass/screen.scss */
.slotNincoWrapper {
  position: absolute;
  top: 36.5%;
  left: 59.8%;
  width: 5%;
}
/* line 125, ../sass/screen.scss */
.slotNincoWrapper img {
  width: 100%;
  height: auto;
}
/* line 128, ../sass/screen.scss */
.slotNincoWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 138, ../sass/screen.scss */
.taquillaWrapper {
  position: absolute;
  top: 26.5%;
  left: 63%;
  width: 8%;
}
/* line 143, ../sass/screen.scss */
.taquillaWrapper img {
  width: 100%;
  height: auto;
}
/* line 146, ../sass/screen.scss */
.taquillaWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 156, ../sass/screen.scss */
.tiendaWrapper {
  position: absolute;
  top: 36.5%;
  left: 64%;
  width: 7%;
}
/* line 161, ../sass/screen.scss */
.tiendaWrapper img {
  width: 100%;
  height: auto;
}
/* line 164, ../sass/screen.scss */
.tiendaWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 174, ../sass/screen.scss */
.terrazaMotorWrapper {
  position: absolute;
  top: 40.5%;
  left: 22.5%;
  width: 7%;
}
/* line 179, ../sass/screen.scss */
.terrazaMotorWrapper img {
  width: 100%;
  height: auto;
}
/* line 182, ../sass/screen.scss */
.terrazaMotorWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 192, ../sass/screen.scss */
.carpaClimatizadaWrapper {
  position: absolute;
  top: 40.5%;
  left: 30.75%;
  width: 6%;
}
/* line 197, ../sass/screen.scss */
.carpaClimatizadaWrapper img {
  width: 100%;
  height: auto;
}
/* line 200, ../sass/screen.scss */
.carpaClimatizadaWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 210, ../sass/screen.scss */
.pantallaGiganteWrapper {
  position: absolute;
  top: 48%;
  left: 26%;
  width: 6%;
}
/* line 215, ../sass/screen.scss */
.pantallaGiganteWrapper img {
  width: 100%;
  height: auto;
}
/* line 218, ../sass/screen.scss */
.pantallaGiganteWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 228, ../sass/screen.scss */
.circuitoKartsWrapper {
  position: absolute;
  top: 42%;
  left: 37%;
  width: 30%;
}
/* line 233, ../sass/screen.scss */
.circuitoKartsWrapper img {
  width: 100%;
  height: auto;
}
/* line 236, ../sass/screen.scss */
.circuitoKartsWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 246, ../sass/screen.scss */
.terrazaKidsWrapper {
  position: absolute;
  top: 47.5%;
  left: 72.2%;
  width: 14%;
}
/* line 251, ../sass/screen.scss */
.terrazaKidsWrapper img {
  width: 100%;
  height: auto;
}
/* line 254, ../sass/screen.scss */
.terrazaKidsWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 264, ../sass/screen.scss */
.WCWrapper {
  position: absolute;
  top: 42.5%;
  left: 66.5%;
  width: 7.5%;
}
/* line 269, ../sass/screen.scss */
.WCWrapper img {
  width: 100%;
  height: auto;
}
/* line 272, ../sass/screen.scss */
.WCWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 282, ../sass/screen.scss */
.rockodromoWrapper {
  position: absolute;
  top: 44.5%;
  left: 21.5%;
  width: 7.5%;
}
/* line 287, ../sass/screen.scss */
.rockodromoWrapper img {
  width: 100%;
  height: auto;
}
/* line 290, ../sass/screen.scss */
.rockodromoWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 300, ../sass/screen.scss */
.barWrapper {
  position: absolute;
  top: 49%;
  left: 16.25%;
  width: 16%;
}
/* line 305, ../sass/screen.scss */
.barWrapper img {
  width: 100%;
  height: auto;
}
/* line 308, ../sass/screen.scss */
.barWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 318, ../sass/screen.scss */
.camasElasticasWrapper {
  position: absolute;
  top: 52.25%;
  left: 34.25%;
  width: 12%;
}
/* line 323, ../sass/screen.scss */
.camasElasticasWrapper img {
  width: 100%;
  height: auto;
}
/* line 326, ../sass/screen.scss */
.camasElasticasWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 336, ../sass/screen.scss */
.hinchablesWrapper {
  position: absolute;
  top: 46%;
  left: 46%;
  width: 25%;
}
/* line 341, ../sass/screen.scss */
.hinchablesWrapper img {
  width: 100%;
  height: auto;
}
/* line 344, ../sass/screen.scss */
.hinchablesWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 354, ../sass/screen.scss */
.castilloInfantilWrapper {
  position: absolute;
  top: 45.5%;
  left: 61%;
  width: 8%;
}
/* line 359, ../sass/screen.scss */
.castilloInfantilWrapper img {
  width: 100%;
  height: auto;
}
/* line 362, ../sass/screen.scss */
.castilloInfantilWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 372, ../sass/screen.scss */
.canetaBlancaSoloWrapper {
  position: absolute;
  top: 50.5%;
  left: 70%;
  width: 5.25%;
}
/* line 377, ../sass/screen.scss */
.canetaBlancaSoloWrapper img {
  width: 100%;
  height: auto;
}

/* line 383, ../sass/screen.scss */
.tentWrapper {
  position: absolute;
  top: 57%;
  left: 21.5%;
  width: 7%;
}
/* line 388, ../sass/screen.scss */
.tentWrapper img {
  width: 100%;
  height: auto;
}

/* line 394, ../sass/screen.scss */
.pistaFutbolWrapper {
  position: absolute;
  top: 56.5%;
  left: 26.75%;
  width: 17.5%;
}
/* line 399, ../sass/screen.scss */
.pistaFutbolWrapper img {
  width: 100%;
  height: auto;
}
/* line 402, ../sass/screen.scss */
.pistaFutbolWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 412, ../sass/screen.scss */
.pistaVoleyPlayaWrapper {
  position: absolute;
  top: 56.5%;
  left: 45.5%;
  width: 16%;
}
/* line 417, ../sass/screen.scss */
.pistaVoleyPlayaWrapper img {
  width: 100%;
  height: auto;
}
/* line 420, ../sass/screen.scss */
.pistaVoleyPlayaWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 430, ../sass/screen.scss */
.billardsWrapper {
  position: absolute;
  top: 56%;
  left: 71%;
  width: 6%;
}
/* line 435, ../sass/screen.scss */
.billardsWrapper img {
  width: 100%;
  height: auto;
}
/* line 438, ../sass/screen.scss */
.billardsWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 448, ../sass/screen.scss */
.skateparkWrapper {
  position: absolute;
  top: 65%;
  left: 13%;
  width: 25%;
}
/* line 453, ../sass/screen.scss */
.skateparkWrapper img {
  width: 100%;
  height: auto;
}
/* line 456, ../sass/screen.scss */
.skateparkWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 466, ../sass/screen.scss */
.pumpTrackWrapper {
  position: absolute;
  top: 67%;
  left: 39%;
  width: 16%;
  z-index: 2;
}
/* line 472, ../sass/screen.scss */
.pumpTrackWrapper img {
  width: 100%;
  height: auto;
}
/* line 475, ../sass/screen.scss */
.pumpTrackWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 485, ../sass/screen.scss */
.iniciacionSkateWrapper {
  position: absolute;
  top: 72%;
  left: 37%;
  width: 16%;
}
/* line 490, ../sass/screen.scss */
.iniciacionSkateWrapper img {
  width: 100%;
  height: auto;
}
/* line 493, ../sass/screen.scss */
.iniciacionSkateWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 503, ../sass/screen.scss */
.camasElasticas2Wrapper {
  position: absolute;
  top: 76%;
  left: 34%;
  width: 7%;
}
/* line 508, ../sass/screen.scss */
.camasElasticas2Wrapper img {
  width: 100%;
  height: auto;
}
/* line 511, ../sass/screen.scss */
.camasElasticas2Wrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/*-----FIX THIS ----*/
/* line 523, ../sass/screen.scss */
.camasElasticas:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 532, ../sass/screen.scss */
.minirampWrapper {
  position: absolute;
  top: 77%;
  left: 42%;
  width: 14%;
}
/* line 537, ../sass/screen.scss */
.minirampWrapper img {
  width: 100%;
  height: auto;
}
/* line 540, ../sass/screen.scss */
.minirampWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 550, ../sass/screen.scss */
.raceBMXWrapper {
  position: absolute;
  top: 67%;
  left: 53.5%;
  width: 26%;
  z-index: 1;
}
/* line 556, ../sass/screen.scss */
.raceBMXWrapper img {
  width: 100%;
  height: auto;
}
/* line 559, ../sass/screen.scss */
.raceBMXWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 569, ../sass/screen.scss */
.bigAirFoamPitWrapper {
  position: absolute;
  top: 60%;
  left: 68%;
  width: 19%;
  z-index: 2;
}
/* line 575, ../sass/screen.scss */
.bigAirFoamPitWrapper img {
  width: 100%;
  height: auto;
}
/* line 578, ../sass/screen.scss */
.bigAirFoamPitWrapper img:hover {
  background-color: #6CF8B0;
  transform: translate(0.5vh, -0.5vh);
  -ms-transform: translate(0.5vh, -0.5vh);
  -webkit-transform: translate(0.5vh, -0.5vh);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
